.portfolio {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    /* border: 1px solid magenta; */
    margin-top: 3.5em;
    padding: 1em;
}

.portfolio-title {
    text-align: center;
    color: #ff5722;
}

.portfolio-description {
    /* border: 1px solid lime; */
    padding: 1em;
    text-align: justify;
}

.certifications-wrapper {
    /* border: 1px solid magenta; */
    width: 80%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: .5em;
    align-items: center;
    background-color: lightblue;
    border-radius: 8px;
}

.certifications-title,
.projects-title {
    align-self: flex-start;
    font-size: 1.5rem;
    color: black;
}

.certification-card {
    /* border: #ff5722 1px solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5em;
}

.certification-title {
    text-align: center;
}


.link-to-certificate {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.certification-img {
    width: 90%;
}
.link-to-certificate:hover {
    background-color: rgba(64, 82, 196, 0.499);
}

.certification-description {
    font-size: .7rem;
    padding: .5em;
}

.projects-wrapper {
    width: 80%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: .5em;
    align-items: center;
    background-color: lightblue;
    border-radius: 8px;
}

.project-title {
    color: #454545;
}

.project-img {
    border-radius: 5px;
    width: 70%;
}

.wrapper-links {
    display: flex;
    gap: 1em;
}

.project-link {
    text-decoration: none;
    border-radius: 5px;
    padding: .25em .5em;
    background-color: navy;
    color: white;
}

.project-description {
    padding: .5em;
    border: 1px solid navy;
    border-radius: 5px;
}