.footer-wrapper {
    margin-top: auto;
    padding: .3em;
    /* width: 100%; */
    background-color: #212121;
    text-align: center;
    /* border: pink 1px solid; */
}

.text-footer {
    color: lightgray;
    font-size: 1rem;
    letter-spacing: 1.3px;
}