.header-wrapper {
    padding: 1em;
    background-color: #212121;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid cyan; */
}

.logo-wrapper {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: center;
    /* border: 1px solid cyan; */
}

.img-logo {
    width: 2em;
    /* background-color: #212121; */
}

.company-name {
    font-size: 1.5rem;
    color: #ff5722;
    text-transform: uppercase;
}

.navbar-wrapper {
    /* border: 1px solid magenta; */
    display: flex;
    flex-direction: column;
}

.navbar {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    padding: 3em;
    background-color: #212121d0;
}

.navbar-closed {
    display: none;
}

.navlink {
    color: white;
    padding: 0.5em;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 10px;
}

.navlink:hover {
    border: 1px solid #ff5722;
}

@media screen and (min-width: 500px) {
    .header-wrapper {
        /* border: 1px solid lime; */
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
    }

    .hamburger {
        display: none;
    }

    .navbar,
    .navbar-closed {
        /* border: 1px solid magenta; */
        display: flex;
    }
  }
